@charset "utf-8";
/* CSS Document */

.highlight-subheader h1, .highlight-subheader h2 {
	margin:0;
	padding:0;
}

.highlight-subheader + div > table {
	width:auto !important;
	min-width:70% !important;
	max-width:100% !important;
}

#side_content .headline-border {
	border-color:#cccccc; 
	margin-bottom:5px; 
	padding-bottom:3px;
}

.mkt .part-section {
	clear: none;
}